  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" >    
    <input      
      type="email"
      name="email"
      ngModel
      #email="ngModel"    
      minlength="3"
      placeholder="Email"
      required email
      >


    <input            
      name="password"
      type="password"
      ngModel    
      #password="ngModel"
      placeholder="Password"
      required password
      >
          

      
  <button    
    color="accent"
    type="submit">Login</button>
    
    <!-- <p *ngIf="email.invalid">Please enter the email</p>
    <p *ngIf="password.invalid">Please enter the password</p>
    <p *ngIf="user.invalid">Please enter the user name</p> -->

</form>

<app-footer></app-footer>